#container {min-height:60px;}
.main_banner_area {border-bottom:1px solid #D3D3D3;}
.main_banner_area .lbanner_area {width:1920px;margin: 0 auto;}
.main_banner_area .sbanner_area {width:1000px;margin: 0 auto;}
.main_banner_area .sbanner_area .area01 {width:250px;position:absolute;margin: 435px 0 0 0;z-index:2000;}
.main_banner_area .sbanner_area .area02 {width:250px;position:absolute;margin: 435px 0 0 250px;;z-index:2000;}
.main_banner_area .sbanner_area .area03 {width:250px;position:absolute;margin: 435px 0 0 500px;z-index:2000;}
.main_banner_area .sbanner_area .area04 {width:250px;position:absolute;margin: 435px 0 0 750px;z-index:2000;}
.main_banner_area .sbanner_area .area01 li , .main_banner_area .sbanner_area .area02 li 
, .main_banner_area .sbanner_area .area03 li , .main_banner_area .sbanner_area .area04 li {cursor:pointer;}
.main_banner_area .sbanner_area .bx-pager {position:absolute;top:230px !important;left:15px; !important;padding:0;margin:0;height:11px;width:200px;text-align:left;z-index:100000;}
.main_banner_area .bg01 {background-color:#016CBA;}
.main_banner_area .bg02 {background-color:#00AFE7;}
.main_banner_area .content .img01 {float:right;margin-top:3px;}
.main_banner_area .content .img02 {float:right;margin-top:18px;}
.main_banner_area .content {float:left;width:250px;}
.main_banner_area .content .tit01 {color:#FFFFFF;font-size:24px;padding:20px 15px 0 20px;}
.main_banner_area .content .tit02 {color:#FFFFFF;font-size:16px;padding:13px 0 0 20px;}
.main_banner_area .content .tit03 {color:#B8F6FF;font-size:13x;padding:3px 0 1px 20px;}
.main_banner_area .content .tit03 .uline {border-bottom:1px solid #B8F6FF;}
