#hd {z-index:1000;}

#gnb_custom {position:relative;margin:-1px 0 0;border-top:1px solid #DCDCDC;border-bottom:4px solid #00afe7;background:#FFFFFF;height:61px;z-index:10000;}
#gnb_custom.on {border-bottom:1px solid #DCDCDC;height:64px;}
#gnb_custom .gnb_custom_menu {margin:0 auto !important;padding:0;width:1000px;zoom:1;}
#gnb_custom .gnb_custom_menu li {float:left;}
#gnb_custom .gnb_custom_menu li.logo {width:250px;text-align:center;padding: 8px 0 0 0;}
#gnb_custom .gnb_custom_menu li.menu {padding: 15px 0 15px 0;cursor:pointer;}
#gnb_custom .gnb_custom_menu li.menu a.no-border {border:0;}
/*#gnb_custom .gnb_custom_menu li.menu.on {border-bottom:4px solid #00AFE7;}*/
#gnb_custom .gnb_custom_menu li.menu:hover {border-bottom:4px solid #00AFE7;}
#gnb_sub_menu {position:absolute;background-color:#FFFFFF;border-bottom:4px solid #00AFE7;width:100%;margin: 65px 0 0 0;display:none;z-index:10000;}

.main_notice {height:60px;padding:0;margin:0;}
.main_notice .area {list-style:none;padding:0;margin:0;width:50%;float:left;line-height:18px;}
.main_notice .area li {float:left;margin-top:15px;}
.main_notice .area li.img {width:40px;text-align:right;}
.main_notice .area li.tit {width:62px;font-weight:bold;font-size:16px;color:#333333;margin:23px 15px 0 10px;}
.main_notice .area li.desc {font-weight:bold;font-size:14px;color:#747474;}
.main_notice .area li.desc.notice {margin-top:25px;width:341px;}
.main_notice .area li.btn_group {margin:0;width:32px;}
.main_notice .area li.btn_group div {border-left:1px solid #d3d3d3;border-right:1px solid #d3d3d3;border-bottom:1px solid #d3d3d3;width:30px;height:25px;text-align:center;color:#00AFE7;padding-top:5px;cursor:pointer;}

/* Sub Page Custom */
.sub_banner_area {margin:0 auto; width:1000px;}
.wrap_content {margin: 0 auto; width:1000px;border-left:1px solid #DCDCDC;}

.left_menu_area {float:left;width:178px;}
.left_menu_area > .menu_tit {width:178px;height:170px;background:url('/img/common/left_menu_bg.png');}
.left_menu_area > .menu_tit > .eng {color:#9A9A9A;font-size:12px;font-weight:800;padding: 50px 0 10px 20px;}
.left_menu_area > .menu_tit > .kor {color:#FFFFFF;font-size:26px;font-weight:700;padding: 0 0 0 20px;}
.left_menu {list-style:none;padding:0;margin:0;}
.left_menu > li {height:40px;border-bottom:1px solid #DCDCDC;cursor:pointer;padding-top:10px;padding-bottom:9px;background:url('/img/common/left_menu_off.png') no-repeat;}
.left_menu > li:hover , .left_menu > li.active {background:url('/img/common/left_menu_on.png') no-repeat;color:#FFFFFF;} /*background-color:#00AFE7;*/
.left_menu > li:hover > .kor , .left_menu > li.active > .kor {color:#FFFFFF;} 
.left_menu > li:hover > .eng , .left_menu > li.active > .eng {color:#FFFFFF;} 
.left_menu > li > .kor {color:#646464;font-size:16px;font-weight:700;margin: 0 0 0 20px;}
.left_menu > li > .eng {color:#A4A4A4;font-size:10px;font-weight:700;margin: 5px 0 0 20px;}

.content_area {float:left;width:819px;border-left:1px solid #DCDCDC;padding-top:15px; margin:0 auto;min-height:500px;}
.sub_nav {font-size:12px;color:#888888;}
.sub_nav span.tit {font-size:36px;color:#333333;font-weight:bold;}
.sub_nav span.desc {font-size:16px;color:#AAD4E1;font-weight:bold;}
.sub_nav {list-style:none;padding:0;margin:0 0 0 30px;clear:both;width:790px;}
.sub_nav li {float:left;}
.sub_nav li.txt {width:50%;text-align:left;border-bottom:1px solid #00AFE7;}
.sub_nav li.intro {padding-bottom:31px;}
.sub_nav li.sitemap {padding-bottom:38px;}
.sub_nav li.product {padding-bottom:41px;}
.sub_nav li.equipment {padding-bottom:45px;}
.sub_nav li.board {padding-bottom:45px;}
.sub_nav li.customer {padding-bottom:46px;}
.sub_nav li.community {padding-bottom:46px;}
.sub_nav li.img {width:50%;text-align:right;border-bottom:1px solid #DCDCDC;}

.sub_content {margin: 30px 0 100px 30px;}
.sub_content_txt {color:#464646;font-size:14px;line-height:160%;}
.sub_content_txt .txt01 {color:#0061bc;}

.table01 {font-size:15px;border-collapse:collapse;line-height:150%;width:100%;}
.table01 th {background-color:#f9f9f9; font-weight:normal;text-align:left;padding:20px;border-width: 1px 1px 1px 0;border-style:solid;border-color:#d8d9de;}
.table01 th:last-child {border-right:0;}
.table01 td {text-align:left;padding:20px;border-width: 1px 1px 1px 0;border-style:solid;border-color:#d8d9de;}
.table01 td:last-child {border-right:0;}

.vmiddle_span {display:inline-block;vertical-align:middle;}
.client_txt01 {background-color:#f1cc00;width:35px;height:14px;margin-right:5px;}
.client_txt02 {background-color:#db6200;width:35px;height:14px;margin-right:5px;}
.client_txt03 {background-color:#a2a2a2;width:35px;height:14px;margin-right:5px;}

.line01 {width:20px;height:1px;background-color:#196736;}

.cert_list {list-style:none;padding:0;padding:0;}
.cert_list li {float:left;margin-right:17px;margin-bottom:30px;}
.cert_list li:last-child {margin-right:0;}
.cert_list li img.cert_img {width:240px;border:1px solid #e6e6e6;cursor:pointer;}
.cert_list li img {cursor:pointer;}

.ul_msg {list-style:none;padding:0;margin:0;}
.ul_msg li {float:left;}
.ul_msg li .img {margin-top:75px;}
.ul_msg li .content {text-align:center;font-size:14px;color:#464646;}
.ul_msg li .content .txt01 {font-size:20px;color:#00AFE7;}

.ul_history {list-style:none;padding:0;margin:0;clear:both;}
.ul_history.border-top {border-top:1px dotted #E0E0E0;margin-top:30px !important;padding-top:30px !important;}
.ul_history li {float:left;}
.ul_history li.img {width:310px;}
.ul_history li.year {width:100px;font-size:36px;color:#00AFE7;}
.ul_history li.content {width:379px;font-size:14px;color:#464646;}
.ul_history li.content .txt01 {font-size:18px;color:#545454;}

.location {font-size:14px;color:#464646;}
.location img {vertical-align:top;}
.location .txt01 {font-size:16px;font-weight:700;}
.location .txt02 {font-size:14px;font-weight:700;}

.product_txt01 {font-size:16px;color:#00AFE7;}
.product_txt02 {font-size:28px;color:#646464;}
.product_txt03 {font-size:14px;color:#333333;}

.table_equipment {width:100%;border-spacing:0;border-collapse:collapse;}
.table_equipment th {font-size:12px;color:#333333;background-color:#E5ECEF;border:1px solid #D1DEE2;padding: 10px 5px 10px 5px;}
.table_equipment td {font-size:11px;color:#333333;border:1px solid #E9E9E9;text-align:center;padding: 10px 5px 10px 5px;}

.ul_cert_area {padding-bottom:30px;background-color:#F9F9F9;}
.ul_cert {list-style:none;padding:0;margin:0;}
.ul_cert li {float:left;width:196px;height:270px;border-right:1px solid #E0E0E0;text-align:center;margin-top:30px;}
.ul_cert li.last {border-right:0;}
.ul_cert li .cert_img {border:1px solid #E0E0E0;width:120px;height:165px;}

.ul_production {list-style:none;padding:0;margin:0;}
.ul_production li {float:left;width:180px;height:105px;border:1px solid #E0E0E0;margin-right:20px;text-align:center;cursor:pointer;}
.ul_production li:last-child {margin-right:0;}
/* Sub Page Custom */

/* Basic Class */
.clear {clear:both;height:0;}
.fleft {float:left;}
.fright {float:right;}

.m-t-0 {margin-top:0px !important;}
.m-t-5 {margin-top:5px !important;}
.m-t-10 {margin-top:10px !important;}
.m-t-15 {margin-top:15px !important;}
.m-t-20 {margin-top:20px !important;}
.m-t-25 {margin-top:25px !important;}
.m-t-30 {margin-top:30px !important;}

.m-b-0 {margin-bottom:0px !important;}
.m-b-5 {margin-bottom:5px !important;}
.m-b-10 {margin-bottom:10px !important;}
.m-b-15 {margin-bottom:15px !important;}
.m-b-20 {margin-bottom:20px !important;}
.m-b-25 {margin-bottom:25px !important;}
.m-b-30 {margin-bottom:30px !important;}

.m-l-0 {margin-left:0px !important;}
.m-l-5 {margin-left:5px !important;}
.m-l-10 {margin-left:10px !important;}
.m-l-15 {margin-left:15px !important;}
.m-l-20 {margin-left:20px !important;}
.m-l-25 {margin-left:25px !important;}
.m-l-30 {margin-left:30px !important;}

.m-r-0 {margin-right:0px !important;}
.m-r-5 {margin-right:5px !important;}
.m-r-10 {margin-right:10px !important;}
.m-r-15 {margin-right:15px !important;}
.m-r-20 {margin-right:20px !important;}
.m-r-25 {margin-right:25px !important;}
.m-r-30 {margin-right:30px !important;}

.p-l-5 {padding-left:5px !important;}

.text-center {text-align:center !important;}
.text-left {text-align:left !important;}
.text-right {text-align:right !important;}

.fs-10 {font-size:10px;}
.fs-11 {font-size:11px;}
.fs-12 {font-size:12px;}
.fs-13 {font-size:13px;}
.fs-14 {font-size:14px;}
.fs-15 {font-size:15px;}
.fs-16 {font-size:16px;}
.fs-18 {font-size:18px;}
.fs-20 {font-size:20px;}
.fs-22 {font-size:22px;}
.fs-25 {font-size:25px;}
.fs-30 {font-size:30px;}

.fc-196736 {color:#196736;}
.fc-696969 {color:#696969;}
.fc-292929 {color:#292929;}

.fwb {font-weight:bold;}
.tdu {text-decoration:underline;}

.ts01 {color:#196736;font-size:20px;line-height:150%;}
.ts02 {color:#000000;font-size:15px;line-height:150%;}
.ts03 {color:#a09f9f;font-size:15px;line-height:150%;}
.ts04 {color:#000000;font-size:18px;line-height:150%;}
.ts05 {color:#196736;font-size:8px;line-height:150%;}
.ts06 {color:#191919;font-size:14px;line-height:150%;}

.bg-196736 {background-color:#196736;}
.bg-f1cc00 {background-color:#f1cc00;}
.bg-db6200 {background-color:#db6200;}
.bg-a2a2a2 {background-color:#a2a2a2;}

.sq8x8 {display:inline-block;vertical-align:middle;width:8px;height:8px;}
.sq35x14 {display:inline-block;vertical-align:middle;width:35px;height:14px;}

.pointer {cursor:pointer;}
/* Basic Class */